@import url('https://fonts.google.com/specimen/Overpass');

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box; /* ao inserir um padding em uma div, o width não será afetado */
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 21, 25);
    color: #FFF;
    /* the next items aligns element in center horizontally and middle vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardOne, .cardTwo {
    background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(216, 12%, 12%));
    border-radius: 20px;
    color: rgb(156, 163, 173);
    width: 95%;
    padding: 30px;
    margin: auto;
}

.icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(44, 54, 65);
    display: flex;

    > img {
        margin: auto;
        align-content: center;
    }
}

header {
    color: #FFF;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2em;
    margin-top: 0.5em;
}

.text {
    line-height: 1.8em;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 2em auto 2em auto;

    > div:hover {
        background-color: hsl(25, 97%, 53%);
        color: #FFF;
    }
}

button {
    width: 100%;
    line-height: 3em;
    border: none;
    border-radius: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase; /* converte texto minúsculo para maiúsculo*/
    color: #FFF;
    background-color: hsl(25, 97%, 53%);
}

button:hover {
    background-color: #FFF;
    color: hsl(25, 97%, 53%);
}

.number {
    width: 50px;
    display: block;
    border-radius: 50%;
    background-color: rgb(42, 46, 54);
    text-align: center;
}

.number:focus {
    background-color: rgb(124, 136, 152);
    color: #FFF;
}

.icon2 > img {
    display: block;
    margin: 1em auto 2em auto;
}

.result {
    width: 60%;
    border-radius: 15px;
    background-color: rgb(42, 46, 54);
    color: hsl(25, 97%, 53%);
    margin: 1.5em auto;
    text-align: center;
    line-height: 2em;
}

.thx {
    text-align: center;
    font-weight: 500;
}
.text2 {
    text-align: center;
    line-height: 1.5em;
}

.attribution { font-size: 11px; text-align: center; margin-top: 2em;}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 600px) {
    .cardOne, .cardTwo {
        background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(216, 12%, 12%));
        border-radius: 20px;
        color: rgb(156, 163, 173);
        width: 415px;
        height: 415px;
        padding: 30px;
        margin: auto;
    }
}

.cardTwo {
    display: none;
}
